body{
    padding:20px;
}
.titulo{
    text-align: center;
    font-weight: bold;
    color: rgb(100, 150, 255);
    background-color: rgb(0, 255, 234);
    width: 30%;
}
.boton{
    background-color: blue;
    color: white;
    width: 30%;
}
.posts li{
    background-color: rgb(144, 248, 248);
    font-size: 20px;
    border-radius: 10px;
    
}
.posts p{
    text-align: center;
}